:root{
    --pri-color: #bff2e1;
    --pri-dark: #20c997;
    --white: #f6f6f6;
    --black: #1a1a1a;
    --open-sans-font: "Open Sans", sans-serif;
    --poppins: "Poppins", sans-serif;
    --border-color: rgb(211, 211, 211);
    --border-color2: rgb(138, 138, 138);
    --text-color: #6c6c6c;
    --marquee: rgb(242, 242, 242);
}

.contact {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.contact h2{
    text-transform: capitalize;
    font-size: 1.5rem;
}

.contact p{
    font-family: var(--open-sans-font);
    font-size: 0.95rem;
}

.contact figure{
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 20rem;
}

/* .contact figure::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    z-index: 3;
    opacity: 0.1;
} */

.contact .ads{
    position: absolute;
    bottom: 2rem;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;
    z-index: 4;
    display: none;
}

.contact .ads p{
    border: 1.5px solid var(--white);
    border-radius: 25px;
    padding: 0.5rem 0.7rem;
    text-transform: capitalize;
    font-size: 0.8rem;
    /* background-color: rgba(234, 234, 234, 0.164); */
    color: var(--white);
    font-weight: 700;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1.5px solid var(--white);
}

.contact img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
    transition: scale 0.5s ease-in-out;
}

.contact img:hover{
    scale: 1.03;
}

.contact > div{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.contact a{
    align-self: flex-start;
    background-color: var(--pri-color);
    border: 1px solid var(--border-color);
    padding: 0.7rem 2.5rem;
    margin-top: 0.7rem;
    font-size: 1rem;
    border-radius: 10px;
    text-transform: capitalize;
    font-weight: 600;
    color: var(--black);
    transition: filter 0.3s ease-in-out;
}

.contact a:hover{
    filter: brightness(0.97);
}


@media (min-width: 600px){
    .contact .ads{
        display: flex;
    }
}

@media (min-width: 730px){
    .contact .ads{
        padding: 0 8rem;
    }
}

@media (min-width: 768px){
    .contact{
        grid-template-columns: repeat(2, 1fr);
    }

    .contact .ads{
        padding: 0 2rem;
    }

    .contact > div{
        justify-content: center;
    }
}

@media (min-width: 1000px){
    .contact{
        gap: 3rem;
    }

    .contact h2{
        font-size: 1.7rem;
    }

    .contact p{
        font-size: 1rem;
    }
}

@media (min-width: 1500px){
    .contact .ads{
        padding: 0 5rem;
    }
}