:root{
    --pri-color: #bff2e1;
    --pri-dark: #20c997;
    --white: #f6f6f6;
    --black: #1a1a1a;
    --open-sans-font: "Open Sans", sans-serif;
    --poppins: "Poppins", sans-serif;
    --border-color: rgb(211, 211, 211);
}

/* desktop header */
header.desktop{
    height: 4.5rem;
    background-color: var(--white);
    border-bottom: 1px solid var(--border-color);
    display: none;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
}

header.desktop > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.desktop_inner > div{
    font-weight: 600;
    text-transform: capitalize;
    font-size: 1.25rem;
    width: 30%;
}

header.desktop nav{
    display: flex;
    gap: 2rem;
    width: 40%;
}

header.desktop a{
    color: var(--black);
    text-transform: capitalize;
    font-size: 0.95rem;
    transition: color 0.3s ease-in-out;
}

header.desktop a:hover{
    color: var(--pri-dark);
}

header.desktop button{
    border: 1px solid var(--border-color);
    background-color: var(--pri-color);
    text-transform: capitalize;
    font-weight: 600;
    padding: 0.7rem 3rem;
    border-radius: 10px;
    font-size: 0.95rem;
    transition: filter 0.3s ease-in-out;
}

header.desktop button:hover{
    filter: brightness(0.98);
}


/* mobile header */
header.mobile{
    height: 3.5rem;
    background-color: var(--white);
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
}

header.mobile > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile_inner > div:nth-child(1){
    font-size: 0.85rem;
    font-weight: 600;
    text-transform: capitalize;
}

header.mobile nav{
    position: absolute;
    top: -4rem;
    left: 0;
    height: 100vh;
    width: 70%;
    max-width: 18rem;
    background-color: var(--white);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-right: 1px solid var(--border-color);
    overflow-y: auto;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.05);
}

header.mobile nav a{
    text-transform: capitalize;
    color: var(--black);
    font-size: 0.9rem;
}

button.open-mobile{
    border: 1px solid var(--border-color);
    background-color: var(--white);
    text-transform: capitalize;
    font-weight: 500;
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    font-size: 1rem;
    font-family: var(--poppins);
}

.close-mobile{
    position: absolute;
    top: 3rem;
    right: 2rem;
    border: 1px solid var(--border-color);
    padding: 0.3rem 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    background-color: var(--white);
}

button.book-now{
    border: 1px solid var(--border-color);
    background-color: var(--pri-color);
    text-transform: capitalize;
    font-weight: 500;
    padding: 0.4rem 1.5rem;
    border-radius: 10px;
    font-size: 0.9rem;
    font-family: var(--poppins);
    margin: 0.4rem 0;
}


.animate-mobile{
    animation: animatemobilemenu 1s forwards;
}

.remove-animation{
    animation: remove-animate 1s forwards;
}

@keyframes animatemobilemenu {
    0%{
        transform: translateX(21rem);
    }

    100%{
        transform: translateX(0);
    }
}

@keyframes remove-animate {
    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(21rem);
    }
}


@media (min-width: 768px){
    header.mobile nav{
        top: -2.3rem;
    }
}


@media (min-width: 1000px){
    header.desktop{
        display: flex;
    }

    header.mobile{
        display: none;
    }
}