:root{
    --pri-color: #bff2e1;
    --pri-dark: #20c997;
    --white: #f6f6f6;
    --black: #1a1a1a;
    --open-sans-font: "Open Sans", sans-serif;
    --poppins: "Poppins", sans-serif;
    --border-color: rgb(211, 211, 211);
    --border-color2: rgb(138, 138, 138);
    --text-color: #6c6c6c;
}

.hero{
    min-height: calc(100vh - 7.5rem);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
}

.hero::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--pri-color);
    opacity: 0.8;
}

.hero-inner{
    height: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: flex-start; */
    gap: 0.7rem;
    padding: 1rem 0;
}

.hero h1{
    font-size: 1.7rem;
    text-transform: capitalize;
    font-weight: 600;
    color: var(--black);
}

.hero p{
    font-family: var(--open-sans-font);
    font-size: 0.9rem;
    font-weight: 600;
}

.hero button{
    align-self: flex-start;
    border: 1px solid var(--border-color2);
    background-color: var(--pri-dark);
    padding: 0.7rem 2rem;
    border-radius: 10px;
    color: var(--white);
    font-size: 0.95rem;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 0.3px;
    margin: 0.7rem 0;
}

@media (min-width: 360px){
    .hero h1{
        font-size: 2.3rem;
    }

    .hero-inner{
        gap: 2rem;
    }
}

@media (min-width: 600px){
    .hero h1{
        font-size: 2.3rem;
    }

    .hero-inner{
        gap: 2rem;
    }

    .hero p{
        line-height: 2;
    }
}

@media (min-width: 768px){
    .hero{
        height: calc(100vh - 5.8rem);
    }

    .hero h1{
        font-weight: 700;
        font-size: 3.5rem;
        width: 70%;
    }

    .hero p{
        font-size: 1rem;
        width: 75%;
    }
}

@media (min-width: 1000px){
    .hero{
        height: calc(100vh - 6.8rem);
    }

    .hero h1{
        font-size: 3.4rem;
    }

    .hero p{
        font-size: 1.2rem;
        width: 70%;
    }

    .hero button{
        font-size: 1.2rem;
    }
}