:root{
    --pri-color: #bff2e1;
    --pri-dark: #20c997;
    --white: #f6f6f6;
    --black: #1a1a1a;
    --open-sans-font: "Open Sans", sans-serif;
    --poppins: "Poppins", sans-serif;
    --border-color: rgb(211, 211, 211);
    --border-color2: rgb(138, 138, 138);
    --text-color: #6c6c6c;
}

.services{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.services-intro h2,p{
    margin: 0;
}

.services-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-intro p{
    font-family: var(--open-sans-font);
    text-align: center;
    font-size: 0.9rem;
}

.services img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
    transition: scale 0.5s ease-in-out;
}

.services img:hover{
    scale: 1.03;
}

.services-content{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

.services-content > div {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
}

/* .services-content figure{
    height: 100%;
    max-height: 15rem;
} */

.services-desc{
    padding: 1.5rem 1rem;
}

.services-desc p{
    font-family: var(--open-sans-font);
    font-size: 0.9rem;
    color: var(--text-color);
}

.services-desc h3{
    text-transform: capitalize;
    font-size: 1.3rem;
}

.services figure{
    overflow: hidden;
}

.services a {
    align-self: center;
    background-color: var(--pri-color);
    border: 1px solid var(--border-color);
    padding: 0.7rem 2.5rem;
    font-size: 1rem;
    border-radius: 10px;
    text-transform: capitalize;
    font-weight: 600;
    color: var(--black);
    transition: filter 0.3s ease-in-out;
}

.services a:hover{
    filter: brightness(0.97);
}


@media (min-width: 600px) {
    .services-content{
        grid-template-columns: repeat(2, 1fr);
    }

    .services-intro p{
        font-size: 0.95rem;
    }
}

@media (min-width: 768px) {
    .services-content{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1000px) {
    .services a{
        font-size: 1.1rem;
    }
}